html,
body {
    font-family: 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic', 'Meiryo', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    cursor: help;
    background-color: rgba(255, 255, 255, 0.837);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


#main-page {
    overflow: hidden;
    cursor: help;
    background-image: url('imgs/bckgrndimg.JPG');
    background-size: cover;
    /* Adjusts the image to cover the entire background */
    background-repeat: no-repeat;
    /* Ensures the image doesn't repeat */
    background-position: center;
    /* Centers the image */
    height: 100vh;
    /* Ensures the body is at least the height of the viewport */
    margin: 0px;
}


footer {
    position: fixed;
    bottom: 0;
    margin-left: 8%;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-block a {
    font-size: 18px;
}

#language-selector {
    padding: 5px;
    font-size: 12px;
    background: none;
    border-radius: 5px;
    border-color: #f55d06;
    left: 10px;
    position: relative;
    margin: 10px;
    color: #6f2a02;

}

.header {
    background-color: white;
    position: fixed;

    width:100%;
    top: 0;
    z-index: 1000;
}


#page_subtitle {
    position: relative;
    top: 20%;
    font-size: 20px;
    z-index: 1001; /* Higher than the header to appear on top */
}

/* expandable*/
.accordion {

    background-color: rgba(var(--accordion-bg-color, 255, 255, 255), 0.30);
    text-align: center;
    box-sizing: border-box;

}

.accordion.open {
    background-color: rgba(var(--accordion-bg-color), 0.17);
    /* Open state (17% opacity) */
}

.accordion-content {
    padding: 0 15px;
    display: none;
    margin-bottom: 10px;
    max-height: 400px; /* mida del accordion*/
    overflow-y: auto;
    transition: max-height 0.3s ease-out;
}

.static_box_scrolling{
    max-height: 89vh; /* according to screen size*/
    overflow-y: auto;
    transition: max-height 0.3s ease-out;
}

.accordion-content.expanded {
    background-color: rgba(var(--accordion-bg-color, 255, 255, 255), 0.17);
    transition: max-height 0.3s ease-in;
}

/* Modal Styles */
.modal {
    /* Hidden by default */
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);     /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal-text {
    position: absolute !important;
    bottom: 0% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 15px !important;
    text-align: center !important;
}

.modal-content {
    position: relative;
    max-width: 80%;
    max-height: 90vh;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: zoom 0.6s;
}

/* Modal Styles */
.carouselModal {
    display: none;    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);   /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
}


/* per fer la transició d'apareixer de la imatge*/
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


.page_title {
    border-right: 2px solid black;
    white-space: nowrap;
}


.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
