html,
body {
    font-family: 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic', 'Meiryo', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


#main-page {
    overflow: hidden;
    cursor: help;
    background-image: url('imgs/bckgrndimg.JPG');
    background-size: cover;
    /* Adjusts the image to cover the entire background */
    background-repeat: no-repeat;
    /* Ensures the image doesn't repeat */
    background-position: center;
    /* Centers the image */
    height: 100vh;
    /* Ensures the body is at least the height of the viewport */
    margin: 0px;
}



#series-australia {
    overflow-x: hidden;
    cursor: help;
    background-image: url('imgs/bckgrndseriesind.JPG');
    background-size: cover;
    /* Adjusts the image to cover the entire background */
    background-repeat: no-repeat;
    /* Ensures the image doesn't repeat */
    background-position: center;
    /* Centers the image */
    height: 100vh;
    /* Ensures the body is at least the height of the viewport */
    margin: 0px;
}


footer {
    position: fixed;
    bottom: 0;
    margin-left: 8%;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-block a {
    font-size: 18px;
}

#language-selector {
    padding: 5px;
    font-size: 12px;
    background: none;
    border-radius: 5px;
    border-color: #f55d06;
    left: 10px;
    position: relative;
    margin: 10px;
    color: #6f2a02;

}




#sobre-borradores {
    cursor: help;
    background-color: rgba(255, 255, 255, 0.837);
}

#series-australia {
    cursor: help;
    background-color: rgba(255, 255, 255, 0.837);
}

#series-australia h1,
p {
    margin: 10px 0;
    line-height: 1.6;
}

#series-australia h1 {
    font-size: 20px;
}

/* expandable*/
.accordion {

    background-color: rgba(var(--accordion-bg-color, 255, 255, 255), 0.30);
    /* Optional: Adds space around the div */
    text-align: center;
    /* Optional: Center the text inside the div */
    box-sizing: border-box;

}

.accordion.open {
    background-color: rgba(var(--accordion-bg-color), 0.17);
    /* Open state (17% opacity) */
}

.accordion-content {
    padding: 0 15px;
    display: none;
    margin-bottom: 10px;
    max-height: 400px;
    /* Set a maximum height for the accordion content */
    overflow-y: auto;
    /* Enable vertical scrolling */
    transition: max-height 0.3s ease-out;
}


.accordion-content.expanded {


    background-color: rgba(var(--accordion-bg-color, 255, 255, 255), 0.17);
    /* Fallback to default color */

    /* width: 120%;*/
    transition: max-height 0.3s ease-in;

    /* New width when expanded */
}


.container-horiz {
    display: flex;
    flex-direction: row;
}

.container-horiz div {
    margin-bottom: 10px;
    /* Espaciado entre elementos */
}

.container-vertical {
    display: flex;
    flex-direction: column;
}

.container-vertical div {
    margin-bottom: 10px;
    /* Espaciado entre elementos */
}

/* Modal Styles */
.modal {

    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal-text {
    position: absolute;
    bottom: 0%; /* Adjust positioning as needed */
    left: 30%;
    transform: translateX(-50%);
    color: white;
    font-size: 15px;
    text-align: center;
}


.modal-content {
    position: relative; /* Set relative positioning for the text overlay */

    max-width: 80%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: zoom 0.6s;
}




/* Modal Styles */
.carouselModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
}




/* per fer la transició d'apareixer de la imatge*/
@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


.page_title {
    border-right: 2px solid black;
    white-space: nowrap;
}


.container,
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
